*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Shippori Mincho', serif;
}
.header{
    background: radial-gradient(rgba(245, 245, 220, 0.575), beige)
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 20px;
    display: none;
}
.hamburger:focus{
    outline:none;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-right: 20px;
    }
    nav{
        flex: 1;
        text-align: right; 
    }
    nav ul{
        display: inline-block;
        list-style-type: none;
    }
    nav ul li{
        display: inline-block;
        margin-right: 20px;
    }
    nav ul li:hover{
        /* display: inline-block;
        margin-right: 20px; */
        background: rgba(255, 0, 0, 0.938);
        padding:5px;
        transition:0.5s;
        border-radius: 30px;
    }
    a{
        text-decoration: none;
        color: brown;
    }
    nav ul li a:hover{
        color:black;
    }
    p{
        color:brown;
    }
    .container{
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .row{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col2{
        flex-basis: 50%;
        min-width: 300px;
    }
    .col2 img{
        max-width: 100%;
        padding: 50px 0;

    }
    .col2 h1{
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
        color: brown;
    }
    .col2 p{
        color: black;
    }
    .btn{
        display: inline-block;
        background: rgba(220, 20, 60, 0.322);
        color: black;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: 0.5s;
    }
    .btn:hover{
        background: rgba(255, 0, 0, 0.938);
    }

    .header .row{
        margin-top: 70px;
    }
    .categories{
        margin: 70px;
    }
    .col1{
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    .col1 img{
        width: 100%;
    }
    .small-container{
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        background-color: rgb(243, 243, 214);
    }
    .col3{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: 0.5s;
    }
    .col3 img{
        width: 100%;
        padding: 10px;

    }
    .col3 img:hover{
        transform: scale(1.12);
        transition: 0.5s;
    }
    .title{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color:crimson;
        
    }
    h4{
        color: crimson;
        font-weight: normal;
    }
    .rating .fa{
        color: crimson;
    }
    .col3:hover{
        /* transform: translateY(-5px); */
        transform: scaleZ(2);

    }
    .footer hr{
        border: none;
        background: black;
        height: 1px;
        margin: 20px 0;
       
    }
    .copyright{
        text-align: center;
    }
    .menu{
        width: 28px;
        margin-left: 20px;
        
        
    }
    /*--------media query for menu -------*/
    @media screen and (max-width:767px){
        .nav-ul{
            display: none;
            width: 100%;
            flex-direction: column;
            margin: 15px;
        }
        .nav-ul.show{
            display: flex;
        }
        .hamburger{
            display: inline-block;
        }
    }
    .menu-icon{ 
        
        cursor: pointer;
    }
    
    .single-product{
        margin-top: 80px;
    }
    .single-product col-2 img{
        padding: 0;
 
    }
    .single-product col-2{
        padding: 20px;
    }
    .single-product h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }
    .single-product select{
        display: block;
        padding: 15px;
        margin: top 20px;
        border: 1px solid crimson;
 
    }
    .single-product input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid crimson;
    }
    input :focus{
        outline: none;
    }
   /*---media query for less than 600 screen size---------*/
   @media only screen and (max-width: 600px){
       .row{
           text-align: center;
        
       }
       .col1 , .col2, .col3{
           flex-basis: 100%;
       }
   }
   .single-product .row{
       text-align: left;

   }
   .single-product .col-2{
       padding: 20px 0;
   }
   .single-product h1{
       font-size: 26px;
       line-height: 32px;
   }
   #preloader{
       height: 100%;
       width: 100%;
       /* background: #000 url(circle-loader-gif-2.gif) no-repeat center center; */
       background: rgb(256,256,256) url(loader.gif) no-repeat center center;
       background-size: 35%;
       position: fixed;
       z-index:300;
   }
   .contr{
    /* background-color: rgb(218, 233, 228); */
    background-image: url(https://images.pexels.com/photos/8939307/pexels-photo-8939307.jpeg?cs=srgb&dl=pexels-nataliya-vaitkevich-8939307.jpg&fm=jpg);
    display: flexbox;
   }
   .heading{
    text-align: center;
   }
   .contr .heading h1{
       color:rgb(66, 40, 6);
   }
   .contr .heading p{
       color:red;
       font-weight:bolder;
   }
   .ftr .cpr{
       text-align: center;
   }
   .col6{
       display: block;
       justify-content: center;
       align-items: center;
   }
   .sales{
    height: 80vh;
    width: 60vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,535656+48,f5f7f9+100&0.71+0,1+100 */
background: -moz-linear-gradient(-45deg,  rgba(246,248,249,0.71) 0%, rgba(83,86,86,0.85) 48%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(246,248,249,0.71) 0%,rgba(83,86,86,0.85) 48%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(246,248,249,0.71) 0%,rgba(83,86,86,0.85) 48%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
-webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
    position: relative;
    border-radius: 2.5%;
    right: -20vw;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
} 
.x{
    position: relative;
    top: 156px;

}
.phno{
    color:rgb(34, 255, 255);
}
.customer{
    height: 80vh;
    width: 60vw;
background: linear-gradient(to bottom,  rgba(59,103,158,0.71) 0%,rgba(43,136,217,0.82) 37%,rgba(32,124,202,0.89) 62%,rgba(125,185,232,1) 100%);
-webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
    background:linear-gradient();
    position: relative;
    border-radius: 2.5%;
    right: -20vw;
    margin-bottom: 15px;
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.y{
    position: relative;
    top: 156px;
}
.email{
    color:rgb(231, 255, 16);
}
.email span{
    color:rgb(11, 11, 190);
    text-decoration: underline;
}
   